openapi: 3.0.0
info:
  contact:
    email: support@kagi.com
    name: API Support
    url: https://kagi.com/support
  description: "The Kagi API provides programmatic access to data that powers our\
    \ search results & more. \n\nQuick start for all APIs:\n\n- Create an account\
    \ at [Kagi](https://kagi.com/signup)\n- Generate an [API key](https://kagi.com/settings?p=api)\n\
    - Call the API\n\nWe have the following APIs available.\n### Commercial\n\n- Kagi\
    \ Search API (invite only at the moment)\n- Web and News Enrichment API (public,\
    \ exposes Kagi's own indexes Teclis and TinyGem)\n- Universal Summarizer API (public)\n\
    - FastGPT API (public)\n\n### Free\n\n- Kagi Small Web RSS feed (public)\n\n###\
    \ Official Client Libraries\n\nWe offer the following libraries you can use to\
    \ interact with the Kagi API. These are generated from an OpenAPI spec. If you\
    \ have a language you would like to use and it's not in the list, send us a message\
    \ and we will add it to the list if it is supported. Or you can use the [spec](https://wild-wombat.redocly.app/_spec/openapi.yaml?download)\
    \ to build your own custom library.\n\n- [Golang](https://github.com/kagisearch/kagi-api-golang)\n\
    - [Python](https://github.com/kagisearch/kagi-api-python)\n\n### Unofficial Client\
    \ Libraries\n\nThere also exist third party libraries for interacting with the\
    \ Kagi API.\n\n- [kagigo for Go](https://github.com/httpjamesm/kagigo) - FastGPT\
    \ & Universal Summarizer\n- [kagi-api](https://crates.io/crates/kagi-api) for\
    \ Rust\n- [kagi-api](https://alchemists.io/projects/kagi-api) for Ruby\n- [kagi-dotnet](https://github.com/patchoulish/kagi-dotnet)\
    \ for C#/.NET\n\n### API Status\n\nOur existing API, the \"v0\" beta API, is being\
    \ replaced with a new version that will be available publicly soon. As changes\
    \ are made, we will be updating the documentation below when the new features\
    \ become available.\n\nSee the [Support and Community](https://help.kagi.com/kagi/support-and-community/)\
    \ section for details.\n### Pricing\n\nWe are in the process of moving all APIs\
    \ to a post-paid tiered system, where each tier has a limit on the number of requests\
    \ that can be made. If an API has a pricing section, then it is still being migrated\
    \ over to the new billing system.\n\n### GitHub Discussions\n\nThis is the preferred\
    \ venue for bug reports and feature requests.\n\n- [Bug Reports](https://github.com/kagisearch/kagi-docs/issues/new/choose)\n\
    - [Q&A Forum](https://github.com/kagisearch/kagi-docs/discussions/categories/q-a?discussions_q=category%3AQ%26A+label%3Aproduct%3Akagi_search_api)\n\
    - [API Feature Requests](https://github.com/kagisearch/kagi-docs/discussions/categories/kagi-search-api-feature-requests-ideas)\n\
    \n### Discord\nJoin our [Discord](https://kagi.com/discord)! Good for quick questions\
    \ or chatting about things you've made with our APIs!\n"
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Kagi API
  version: 0.1.0
servers:
- description: Production api endpoint
  url: https://kagi.com/api/v1
tags:
- description: |
    The Search API gives programmable access to Kagi's premium search results. It will inherit the settings in your account. For example, you can:

    - Block or promote websites ([results personalization](https://help.kagi.com/kagi/getting-started/index.html))
    - Select to receive longer or shorter search snippets (under [Settings -> Search](https://help.kagi.com/kagi/settings/search.html))

    For a full list, please check out our [search features.](https://help.kagi.com/kagi/features/website-info-personalized-results.html)
  name: Search
  x-displayName: Search API
- description: |
    The Universal Summarizer is an API using powerful LLMs to summarize any content, of almost any format, with unlimited token length!
    As an alternative to using the API, we provide the Kagi Search browser extension ([Chrome](https://chromewebstore.google.com/detail/kagi-search-for-chrome/cdglnehniifkbagbbombnjghhcihifij?pli=1)/[Firefox](https://addons.mozilla.org/en-US/firefox/addon/kagi-search-for-firefox/)) and you can use the most advanced Muriel model right from the extension.

    Universal Summarizer API uses pre-paid API credits. You can manage API credits in the API billing page of your Kagi settings.

    Using API with insufficient credits will produce "Insufficient credit to perform this request." response message.
    ### Pricing
    #### Consumer models

    Price for our consumer-grade models (Cecil and Agnes) is $0.030 USD per 1,000 tokens processed. If you are subscribed to the Kagi Ultimate plan, discounted pricing at $0.025 per 1,000 tokens processed is automatically applied.

    Notes:

    - Tokens include all tokens processed in + out.
    - Any request over 10,000 tokens is billed as 10,000 tokens, regardless of the length of the document.
    - Accessing cached summaries of the same URL is always free.

    #### Enterprise models

    Our enterprise-grade Muriel summarization engine produces even higher quality summaries, especially for long documents. It also provides longer and more detailed summaries than our consumer-grade model. See the difference [here](https://blog.kagi.com/universal-summarizer#muriel).

    Muriel usage is a flat rate of $1 USD per summary, regardless of the length or type of the document.

    To use Muriel just use "muriel" as the "engine" parameter in the API call. See examples below.
    ### Privacy

    Read how summarization data is handled in our [privacy policy](https://kagi.com/privacy#Summarizer).

    For handling sensitive information and documents, we recommend setting the 'cache' API parameter to False. In this way, the document will "flow through" our infrastructure and will not be retained anywhere after processing.
    ### Integrations

    Universal Summarizer is available as a [Zapier integration](https://zapier.com/apps/universal-summarizer-by-kagi-ca1/integrations) allowing you to quickly integrate summarization into your programmatic workflows.
  name: Summarizer
  x-displayName: Universal Summarizer API
- description: |
    The Enrichment APIs are a collection of indexes that can be used to supplement other products with more novel content from around the web.

    Enrichment APIs allow anyone to get Kagi's unique results, namely the Teclis index (web results) and TinyGem index (news results).

    They are best used for finding non-commercial websites and "small web" discussions surrounding a particular topic. The news enrichment API offers interesting discussions and news worth reading from typically non-mainstream sources.

    They are not "general" search indexes that can answer any type of query, but rather these results are our "secret sauce" and what makes Kagi results unique and interesting and are best used in combination with a general results index.
    ### Pricing

    Since results are niche, we bill only when non-zero results are returned.
  name: Enrichment
  x-displayName: Enrichment API
- description: |
    FastGPT is a Kagi service that uses powerful LLMs to answer user queries and runs a full search engine underneath. Think ChatGPT, but on steroids and faster! You can try the web app [here](https://kagi.com/fastgpt).

    ### Pricing

    Pricing for FastGPT is a flat rate per-query:

    1.5¢ per query ($15 USD per 1000 queries).
  name: FastGPT
  x-displayName: FastGPT API
paths:
  /search:
    get:
      operationId: superSearch
      requestBody:
        content:
          application/json:
            examples:
              basicSearch:
                description: Simple search showing how to use the serach API
                summary: Basic search query
                value:
                  query: steve jobs
                  workflow: search
              snapSearch:
                description: Snaps are supported for quickly searching in individual
                  sites
                summary: Search with snaps
                value:
                  query: '@r headphones'
                  workflow: search
              imageSearch:
                description: "Searching just for images, or other catrgories is supported\
                  \ using the workflow parameter"
                summary: Search just for images
                value:
                  query: doggo
                  workflow: images
            schema:
              $ref: '#/components/schemas/superSearch_request'
        description: Contains the search query to run
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  summary: Response with example search objects
                  value:
                    meta:
                      trace: 69c3f5c4168f66b860e951c585550f1c
                      node: us-central1
                      ms: 213
                      query:
                        raw: steve jobs
                        terms: steve jobs
                        workflow: search
                        fields:
                        - kind: token
                          value: steve
                          name: ""
                          negate: false
                        - kind: token
                          value: jobs
                          name: ""
                          negate: false
                    data:
                      search:
                      - url: https://www.billboard.com/pro/iphone-turns-10-steve-jobs-introduction-apple-ads/
                        title: "iPhone Turns 10: Watch Steve Jobs Introduce Apple’\
                          s ‘Revolutionary ..."
                        time: 2017-01-09T14:49:00Z
                        image:
                          url: https://www.billboard.com/wp-content/uploads/media/Steve-Jobs-2007-iphone-billboard-1548.jpg
                          height: 1024
                          width: 1548
                        props:
                          thumbnail_image:
                            url: https://tse1.mm.bing.net/th/id/OIP.etmvjdMAF91p8PbA3bH4-wHaE5?pid=Api
                            height: 313
                            width: 474
                          paywalled: true
                          sort_normalize_url: //billboard.com/pro/iphone-turns-10-steve-jobs-introduction-apple-ads
                          sort_group_id: billboard.com
                          source_history:
                          - bing16
                      video:
                      - url: https://www.youtube.com/watch?v=UF8uR6Z6KLc
                        title: Steve Jobs&#39; 2005 Stanford Commencement Address
                        snippet: Steve Jobs&#39; 2005 Stanford Commencement Address
                          · Comments. 27K. Who is listening to this in 2025? 22:10
                          · Go to channel. Steve Jobs&#39; 2005 ...
                        time: 2024-11-29T03:54:26Z
                        image:
                          url: https://i.ytimg.com/vi/UF8uR6Z6KLc/hqdefault.jpg?sqp=-oaymwEmCOADEOgC8quKqQMa8AEB-AG-AoAC8AGKAgwIABABGGUgTShAMA8=&rs=AOn4CLBQpu5eC9IARIhuqaqee1Zc53SWpw
                          height: 480
                          width: 360
                        props:
                          hires_thumbnail_url: https://i.ytimg.com/vi/UF8uR6Z6KLc/hqdefault.jpg
                          sort_normalize_url: //youtube.com/watch?v=UF8uR6Z6KLc
                          sort_group_id: youtube.com
                          source_history:
                          - mojeek4
                          - serper8
                          language: en
                          language_probability: 0.9551553726196289
                      web_archive:
                      - url: https://web.archive.org/web/20111007174823/http://netspencer.com/stevejobs/
                        title: steve jobs
                        snippet: "It is best to admit them quickly, and get on with\
                          \ improving your other innovations. Being the richest man\
                          \ in the cemetery doesn’t matter to me … Going to bed at\
                          \ night saying we’ve done something wonderful… that’s what\
                          \ matters to me. I’m convinced that about half of what separates\
                          \ the successful entrepreneurs from the non-successful ones\
                          \ is pure per.."
                        time: 2011-10-07T17:48:23Z
                        props:
                          language: en
                          language_probability: 0.9240066409111023
                          web_archive_domain: netspencer.com
                      infobox:
                      - url: https://en.wikipedia.org/wiki/Steve_Jobs
                        title: Steve Jobs
                        snippet: "Steven Paul Jobs (February 24, 1955 – October 5,\
                          \ 2011) was an American businessman, inventor, and ...."
                        image:
                          url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg
                          height: 300
                          width: 310
                        props:
                          infobox:
                          - header: Born
                            value: "Steven Paul Jobs<br> February 24, 1955<br> San\
                              \ Francisco, California, U.S."
                            merged: false
                          wikipedia.subtext: American businessman and inventor (1955–2011)
                          wikipedia.page_id: 7412236
                          language: en
                          language_probability: 0.8304631114006042
                      adjacent_question:
                      - url: https://www.ceotodaymagazine.com/2025/02/steve-jobs-10-minute-rule-you-can-implement/
                        title: "Steve Jobs&#39; 10-Minute Rule: How Walking Boosts\
                          \ Brainpower"
                        snippet: "Steve Jobs was a visionary, innovator, and problem-solver,\
                          \ but he also had a simple secret for overcoming mental\
                          \ roadblocks: The 10-Minute Rule. According to his biographer,\
                          \ Walter Isaacson, Jobs believed that if he couldn't solve\
                          \ a problem in 10 minutes, he needed to step away and go\
                          \ for a walk—often barefoot."
                        time: 2025-02-01T00:00:00Z
                        props:
                          question: What is Steve Jobs' 10 minute rule?
                          language: en
                          language_probability: 0.9541819095611572
              schema:
                $ref: '#/components/schemas/superSearch_200_response'
          description: Success
        "401":
          content:
            application/json:
              examples:
                default:
                  summary: Response with example search objects
                  value:
                    meta:
                      id: 69c3f5c4168f66b860e951c585550f1c
                      node: us-central1
                      ms: 213
                    error:
                      code: 2
                      msg: Unauthorized
              schema:
                $ref: '#/components/schemas/exampleError'
          description: Access token is missing or invalid
      security:
      - kagi: []
      summary: Perform a search of the web.
      tags:
      - Search
  /summarize:
    get:
      operationId: summarizeURL
      parameters:
      - description: Different summarization engines are provided that will give you
          choices over the "flavor" of the summarization text.
        explode: true
        in: query
        name: engine
        required: false
        schema:
          default: cecil
          enum:
          - cecil
          - agnes
          - daphne
          - muriel
          type: string
        style: form
      - description: Different summary types are provided that control the structure
          of the summary output.
        explode: true
        in: query
        name: summary_type
        required: false
        schema:
          default: summary
          enum:
          - summary
          - takeaway
          type: string
        style: form
      - description: |
          The summarizer can translate the output into a desired language, using the table of supported language codes below.

          If no language is specified, the document's original language is allowed to influence the summarizer's output. Specifying a language will add an explicit translation step, to translate the summary to the desired language.

          For example, if a document is mostly written in Spanish, the summary output may itself be in Spanish or contain Spanish passages. Specifying "EN" will ensure all passages are translated as English.
        explode: true
        in: query
        name: target_language
        required: false
        schema:
          enum:
          - BG
          - CS
          - DA
          - DE
          - EL
          - EN
          - ES
          - ET
          - FI
          - FR
          - HU
          - ID
          - IT
          - JA
          - KO
          - LT
          - LV
          - NB
          - NL
          - PL
          - PT
          - RO
          - RU
          - SK
          - SL
          - SV
          - TR
          - UK
          - ZH
          - ZH-HANT
          type: string
        style: form
      - description: Whether to allow cached requests & responses.
        explode: true
        in: query
        name: cache
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: A URL to a document to summarize.
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  summary: Summary of https://www.youtube.com/watch?v=ZSRHeXYDLko
                    using the murial engine
                  value:
                    meta:
                      id: 120145af-f057-466d-9e6d-7829ac902adc
                      node: us-east
                      ms: 7943
                    data:
                      output: "In this Youtube video, Jonathan Blow discusses the\
                        \ decline of software technology and the potential collapse\
                        \ of civilization. He argues that technology does not automatically\
                        \ improve and that great achievements in technology can be\
                        \ lost due to the fall of civilizations. Blow believes that\
                        \ software technology has not improved in quite a while and\
                        \ that the industry is adding too much complication to everything.\
                        \ He suggests that simplifying software systems is the right\
                        \ short-term play and that removing complexity is still the\
                        \ right approach even if it doesn't seem like it. Blow also\
                        \ emphasizes the importance of developing the aesthetics for\
                        \ things that are not a giant horrible mess and building institutional\
                        \ knowledge about how to simplify."
                      tokens: 11757
              schema:
                $ref: '#/components/schemas/summary'
          description: Success
        "401":
          content:
            application/json:
              examples:
                default:
                  summary: Response with example search objects
                  value:
                    meta:
                      id: 69c3f5c4168f66b860e951c585550f1c
                      node: us-central1
                      ms: 213
                    error:
                      code: 2
                      msg: Unauthorized
              schema:
                $ref: '#/components/schemas/exampleError'
          description: Access token is missing or invalid
      security:
      - kagi: []
      summary: Get a summary for a URL
      tags:
      - Summarizer
    post:
      operationId: summarizeText
      parameters:
      - description: Different summarization engines are provided that will give you
          choices over the "flavor" of the summarization text.
        explode: true
        in: query
        name: engine
        required: false
        schema:
          default: cecil
          enum:
          - cecil
          - agnes
          - daphne
          - muriel
          type: string
        style: form
      - description: Different summary types are provided that control the structure
          of the summary output.
        explode: true
        in: query
        name: summary_type
        required: false
        schema:
          default: summary
          enum:
          - summary
          - takeaway
          type: string
        style: form
      - description: |
          The summarizer can translate the output into a desired language, using the table of supported language codes below.

          If no language is specified, the document's original language is allowed to influence the summarizer's output. Specifying a language will add an explicit translation step, to translate the summary to the desired language.

          For example, if a document is mostly written in Spanish, the summary output may itself be in Spanish or contain Spanish passages. Specifying "EN" will ensure all passages are translated as English.
        explode: true
        in: query
        name: target_language
        required: false
        schema:
          enum:
          - BG
          - CS
          - DA
          - DE
          - EL
          - EN
          - ES
          - ET
          - FI
          - FR
          - HU
          - ID
          - IT
          - JA
          - KO
          - LT
          - LV
          - NB
          - NL
          - PL
          - PT
          - RO
          - RU
          - SK
          - SL
          - SV
          - TR
          - UK
          - ZH
          - ZH-HANT
          type: string
        style: form
      - description: Whether to allow cached requests & responses.
        explode: true
        in: query
        name: cache
        required: false
        schema:
          default: true
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uploadText'
          x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/uploadText'
        description: Text to summarize
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  summary: Post example with the lyrics from https://genius.com/Brothertiger-mainsail-lyrics
                    in the body
                  value:
                    meta:
                      id: 55fc737b-29d7-4192-ab62-d23946576323
                      node: us-east
                      ms: 10868
                    data:
                      output: "Brothertiger's song \"Mainsail\" is a reflective and\
                        \ hopeful track about escaping the mundane life and setting\
                        \ sail for a new adventure. The narrator is asking if the\
                        \ listener can recognize his face in a crowded room, and if\
                        \ they can make their escape together. The chorus is a call\
                        \ to action, with the narrator inviting the listener to lean\
                        \ forward and relax as he raises the mainsail on the mast.\
                        \ The bridge is a moment of clarity, with the narrator realizing\
                        \ that they can sail away from the dull life they live and\
                        \ find a way out of their head for the weekend. The song is\
                        \ a reminder to take a break from the everyday and explore\
                        \ the world around us. The imagery of the sun cascading on\
                        \ the narrator's back and casting a shadow on the map is particularly\
                        \ evocative and paints a vivid picture of the journey ahead."
                      tokens: 543
              schema:
                $ref: '#/components/schemas/summary'
          description: successful operation
        "401":
          content:
            application/json:
              examples:
                default:
                  summary: Response with example search objects
                  value:
                    meta:
                      id: 69c3f5c4168f66b860e951c585550f1c
                      node: us-central1
                      ms: 213
                    error:
                      code: 2
                      msg: Unauthorized
              schema:
                $ref: '#/components/schemas/exampleError'
          description: Access token is missing or invalid
      security:
      - kagi: []
      summary: Upload text to summarize.
      tags:
      - Summarizer
    summary: FastGPT is a Kagi service using powerful LLMs to answer user queries
      running a full search engine underneath.
  /enrich/{type}:
    get:
      operationId: enrichSearch
      parameters:
      - description: Query to enrich
        example: steve jobs
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: Enrich with 'web' results or 'news' results
        explode: false
        in: path
        name: type
        required: true
        schema:
          default: web
          enum:
          - news
          - web
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  summary: A truncated enrichment result
                  value:
                    meta:
                      id: db862c5b-c594-4480-9e0c-86a14f71cf0e
                      node: us-east4
                      ms: 386
                    data:
                    - t: 0
                      rank: 1
                      url: http://minimsft.blogspot.com/2011/01/microsoft-fy11q2-results.html
                      title: "Mini-Microsoft: Microsoft FY11Q2 Results"
                      snippet: "Like I said, there&#39;s a big convergence ahead of\
                        \ us, and it will be good to start aligning a simpler development\
                        \ story, both for Microsoft and its partners. The biggest\
                        \ obvious concern is the development path for the mobile platform\
                        \ compared to the development path for Windows, but even there\
                        \ you can squint and see on the horizon the possibility for.."
                      published: 2011-01-01T00:00:00Z
                    - t: 0
                      rank: 2
                      url: http://toastytech.com/guis/bob.html
                      title: Microsoft Bob
                      snippet: Microsoft Bob| Microsoft Bob And so Microsoft Bob disappeared
                        in to obscurity.
              schema:
                $ref: '#/components/schemas/enrichSearch_200_response'
          description: Success
        "401":
          content:
            application/json:
              examples:
                default:
                  summary: Response with example search objects
                  value:
                    meta:
                      id: 69c3f5c4168f66b860e951c585550f1c
                      node: us-central1
                      ms: 213
                    error:
                      code: 2
                      msg: Unauthorized
              schema:
                $ref: '#/components/schemas/exampleError'
          description: Access token is missing or invalid
      security:
      - kagi: []
      summary: Get enriched search results
      tags:
      - Enrichment
  /fastgpt:
    post:
      description: "FastGPT is a Kagi service using powerful LLMs to answer user queries\
        \ running a full search engine underneath. Think ChatGPT, but on steroids\
        \ and faster! You can try the web app here."
      operationId: fastGPT
      requestBody:
        content:
          application/json:
            examples:
              basicQuery:
                description: An example of how to use the FastGPT API endpoint
                summary: Basic query
                value:
                  query: who is steve jobs?
                  cache: true
            schema:
              $ref: '#/components/schemas/fastGPT_request'
        description: Contains the query to process.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  summary: Response with references included
                  value:
                    meta:
                      id: 120145af-f057-466d-9e6d-7829ac902adc
                      node: us-east
                      ms: 7943
                    data:
                      output: "Python 3.11 was released in 2021 and introduced several\
                        \ new features compared to previous versions:\n- Faster performance:\
                        \ The interpreter was optimized, resulting in up to 1.25x\
                        \ speedup on benchmarks.[1]\n- New syntax features: Exception\
                        \ groups were added using PEP 654.[1]    \n- Traceback annotation:\
                        \ The new version includes a feature to annotate tracebacks\
                        \ to make them more intelligible.[2]\n- Type hint improvements:\
                        \ Type hints were made more powerful.[3]\n"
                      tokens: 757
                      references:
                      - title: What's New In Python 3.11 — Python 3.11.3 documentation
                        snippet: '...'
                        url: https://docs.python.org/3/whatsnew/3.11.html
                      - title: Introducing the New Features in Python 3.11 -
                        snippet: '...'
                        url: https://earthly.dev/blog/python-3.11-new-features/
              schema:
                $ref: '#/components/schemas/fastGPT_200_response'
          description: Success
        "401":
          content:
            application/json:
              examples:
                default:
                  summary: Response with example search objects
                  value:
                    meta:
                      id: 69c3f5c4168f66b860e951c585550f1c
                      node: us-central1
                      ms: 213
                    error:
                      code: 2
                      msg: Unauthorized
              schema:
                $ref: '#/components/schemas/exampleError'
          description: Access token is missing or invalid
      security:
      - kagi: []
      summary: Answer a query.
      tags:
      - FastGPT
    summary: FastGPT is a Kagi service using powerful LLMs to answer user queries
      running a full search engine underneath.
components:
  responses:
    unauthorized:
      content:
        application/json:
          examples:
            default:
              summary: Response with example search objects
              value:
                meta:
                  id: 69c3f5c4168f66b860e951c585550f1c
                  node: us-central1
                  ms: 213
                error:
                  code: 2
                  msg: Unauthorized
          schema:
            $ref: '#/components/schemas/exampleError'
      description: Access token is missing or invalid
  schemas:
    meta:
      example:
        node: node
        trace: trace
        ms: 0
        query:
          workflow: workflow
          terms: terms
          raw: raw
          fields:
          - kind: kind
            negate: true
            name: name
            value: value
          - kind: kind
            negate: true
            name: name
            value: value
        id: id
      properties:
        trace:
          type: string
        id:
          type: string
        node:
          type: string
        ms:
          type: integer
        query:
          $ref: '#/components/schemas/meta_query'
      required:
      - ms
      - node
      type: object
    resultSearch:
      example:
        snippet: snippet
        image:
          width: 1
          url: url
          height: 6
        time: time
        title: title
        url: url
        props:
          language_probability: 2.3021358869347655
          sort_normalize_url: sort_normalize_url
          sort_group_id: sort_group_id
          language: language
          thumbnail_image:
            width: 5
            url: url
            height: 5
          paywalled: true
          source_history:
          - source_history
          - source_history
      properties:
        url:
          type: string
        title:
          type: string
        snippet:
          type: string
        time:
          type: string
        image:
          $ref: '#/components/schemas/resultSearch_image'
        props:
          $ref: '#/components/schemas/resultSearch_props'
      required:
      - title
      - url
      type: object
    resultVideo:
      example:
        snippet: snippet
        image:
          width: 1
          url: url
          height: 6
        time: time
        title: title
        url: url
        props:
          hires_thumbnail_url: hires_thumbnail_url
          language_probability: 7.061401241503109
          sort_normalize_url: sort_normalize_url
          sort_group_id: sort_group_id
          language: language
          source_history:
          - source_history
          - source_history
      properties:
        url:
          type: string
        title:
          type: string
        snippet:
          type: string
        time:
          type: string
        image:
          $ref: '#/components/schemas/resultSearch_image'
        props:
          $ref: '#/components/schemas/resultVideo_props'
      required:
      - title
      - url
      type: object
    resultAdjacentQuestion:
      example:
        snippet: snippet
        image:
          width: 1
          url: url
          height: 6
        time: time
        title: title
        url: url
        props:
          question: question
          language_probability: 9.301444243932576
          language: language
      properties:
        url:
          type: string
        title:
          type: string
        snippet:
          type: string
        time:
          type: string
        image:
          $ref: '#/components/schemas/resultSearch_image'
        props:
          $ref: '#/components/schemas/resultAdjacentQuestion_props'
      required:
      - snippet
      - title
      - url
      type: object
    resultInfobox:
      example:
        snippet: snippet
        image:
          width: 1
          url: url
          height: 6
        time: time
        title: title
        url: url
        props:
          wikipedia.page_id: 3
          language_probability: 2.027123023002322
          infobox:
          - merged: true
            header: header
            value: value
          - merged: true
            header: header
            value: value
          sort_normalize_url: sort_normalize_url
          sort_group_id: sort_group_id
          language: language
          wikipedia.subtext: wikipedia.subtext
          source_history:
          - source_history
          - source_history
      properties:
        url:
          type: string
        title:
          type: string
        snippet:
          type: string
        time:
          type: string
        image:
          $ref: '#/components/schemas/resultSearch_image'
        props:
          $ref: '#/components/schemas/resultInfobox_props'
      required:
      - snippet
      - title
      - url
      type: object
    resultWebArchive:
      example:
        snippet: snippet
        image:
          width: 1
          url: url
          height: 6
        time: time
        title: title
        url: url
        props:
          language_probability: 4.145608029883936
          web_archive_domain: web_archive_domain
          language: language
      properties:
        url:
          type: string
        title:
          type: string
        snippet:
          type: string
        time:
          type: string
        image:
          $ref: '#/components/schemas/resultSearch_image'
        props:
          $ref: '#/components/schemas/resultWebArchive_props'
      required:
      - snippet
      - title
      - url
      type: object
    exampleError:
      description: I need an example error to appease the linter. Please accept my
        offering
      example:
        meta:
          node: node
          trace: trace
          ms: 0
          query:
            workflow: workflow
            terms: terms
            raw: raw
            fields:
            - kind: kind
              negate: true
              name: name
              value: value
            - kind: kind
              negate: true
              name: name
              value: value
          id: id
        error:
          msg: msg
          ref: ref
          code: 7
      properties:
        meta:
          $ref: '#/components/schemas/meta'
        error:
          $ref: '#/components/schemas/exampleError_error'
      required:
      - error
      - meta
      type: object
    summary:
      description: A summary of the text or url provided
      example:
        data:
          output: output
          tokens: 0
        meta:
          node: node
          trace: trace
          ms: 0
          query:
            workflow: workflow
            terms: terms
            raw: raw
            fields:
            - kind: kind
              negate: true
              name: name
              value: value
            - kind: kind
              negate: true
              name: name
              value: value
          id: id
      properties:
        meta:
          $ref: '#/components/schemas/meta'
        data:
          $ref: '#/components/schemas/summary_data'
      required:
      - data
      - meta
      type: object
    uploadText:
      description: Used to upload text to be summarized
      properties:
        text:
          type: string
      required:
      - text
      type: object
    searchObject:
      example:
        snippet: snippet
        image:
          width: 1
          url: url
          height: 6
        thumbnail:
          width: 1
          url: url
          height: 6
        t: 0
        rank: 6
        published: published
        title: title
        url: url
      properties:
        t:
          type: integer
        rank:
          type: integer
        url:
          type: string
        title:
          type: string
        snippet:
          type: string
        published:
          type: string
        thumbnail:
          $ref: '#/components/schemas/resultSearch_image'
        image:
          $ref: '#/components/schemas/resultSearch_image'
      required:
      - title
      - url
      type: object
    superSearch_request:
      description: Used to upload the search query
      properties:
        query:
          description: The search query to perform.
          type: string
        workflow:
          default: search
          description: Can be used to filter result output to a single category.
          enum:
          - search
          - images
          - videos
          - news
          - podcasts
          type: string
      required:
      - query
      type: object
    superSearch_200_response_data:
      example:
        search:
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          time: time
          title: title
          url: url
          props:
            language_probability: 2.3021358869347655
            sort_normalize_url: sort_normalize_url
            sort_group_id: sort_group_id
            language: language
            thumbnail_image:
              width: 5
              url: url
              height: 5
            paywalled: true
            source_history:
            - source_history
            - source_history
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          time: time
          title: title
          url: url
          props:
            language_probability: 2.3021358869347655
            sort_normalize_url: sort_normalize_url
            sort_group_id: sort_group_id
            language: language
            thumbnail_image:
              width: 5
              url: url
              height: 5
            paywalled: true
            source_history:
            - source_history
            - source_history
        adjacent_question:
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          time: time
          title: title
          url: url
          props:
            question: question
            language_probability: 9.301444243932576
            language: language
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          time: time
          title: title
          url: url
          props:
            question: question
            language_probability: 9.301444243932576
            language: language
        web_archive:
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          time: time
          title: title
          url: url
          props:
            language_probability: 4.145608029883936
            web_archive_domain: web_archive_domain
            language: language
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          time: time
          title: title
          url: url
          props:
            language_probability: 4.145608029883936
            web_archive_domain: web_archive_domain
            language: language
        infobox:
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          time: time
          title: title
          url: url
          props:
            wikipedia.page_id: 3
            language_probability: 2.027123023002322
            infobox:
            - merged: true
              header: header
              value: value
            - merged: true
              header: header
              value: value
            sort_normalize_url: sort_normalize_url
            sort_group_id: sort_group_id
            language: language
            wikipedia.subtext: wikipedia.subtext
            source_history:
            - source_history
            - source_history
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          time: time
          title: title
          url: url
          props:
            wikipedia.page_id: 3
            language_probability: 2.027123023002322
            infobox:
            - merged: true
              header: header
              value: value
            - merged: true
              header: header
              value: value
            sort_normalize_url: sort_normalize_url
            sort_group_id: sort_group_id
            language: language
            wikipedia.subtext: wikipedia.subtext
            source_history:
            - source_history
            - source_history
        video:
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          time: time
          title: title
          url: url
          props:
            hires_thumbnail_url: hires_thumbnail_url
            language_probability: 7.061401241503109
            sort_normalize_url: sort_normalize_url
            sort_group_id: sort_group_id
            language: language
            source_history:
            - source_history
            - source_history
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          time: time
          title: title
          url: url
          props:
            hires_thumbnail_url: hires_thumbnail_url
            language_probability: 7.061401241503109
            sort_normalize_url: sort_normalize_url
            sort_group_id: sort_group_id
            language: language
            source_history:
            - source_history
            - source_history
      properties:
        search:
          items:
            $ref: '#/components/schemas/resultSearch'
          type: array
        video:
          items:
            $ref: '#/components/schemas/resultVideo'
          type: array
        adjacent_question:
          items:
            $ref: '#/components/schemas/resultAdjacentQuestion'
          type: array
        infobox:
          items:
            $ref: '#/components/schemas/resultInfobox'
          type: array
        web_archive:
          items:
            $ref: '#/components/schemas/resultWebArchive'
          type: array
      type: object
    superSearch_200_response:
      description: A response with a description and results references used
      example:
        data:
          search:
          - snippet: snippet
            image:
              width: 1
              url: url
              height: 6
            time: time
            title: title
            url: url
            props:
              language_probability: 2.3021358869347655
              sort_normalize_url: sort_normalize_url
              sort_group_id: sort_group_id
              language: language
              thumbnail_image:
                width: 5
                url: url
                height: 5
              paywalled: true
              source_history:
              - source_history
              - source_history
          - snippet: snippet
            image:
              width: 1
              url: url
              height: 6
            time: time
            title: title
            url: url
            props:
              language_probability: 2.3021358869347655
              sort_normalize_url: sort_normalize_url
              sort_group_id: sort_group_id
              language: language
              thumbnail_image:
                width: 5
                url: url
                height: 5
              paywalled: true
              source_history:
              - source_history
              - source_history
          adjacent_question:
          - snippet: snippet
            image:
              width: 1
              url: url
              height: 6
            time: time
            title: title
            url: url
            props:
              question: question
              language_probability: 9.301444243932576
              language: language
          - snippet: snippet
            image:
              width: 1
              url: url
              height: 6
            time: time
            title: title
            url: url
            props:
              question: question
              language_probability: 9.301444243932576
              language: language
          web_archive:
          - snippet: snippet
            image:
              width: 1
              url: url
              height: 6
            time: time
            title: title
            url: url
            props:
              language_probability: 4.145608029883936
              web_archive_domain: web_archive_domain
              language: language
          - snippet: snippet
            image:
              width: 1
              url: url
              height: 6
            time: time
            title: title
            url: url
            props:
              language_probability: 4.145608029883936
              web_archive_domain: web_archive_domain
              language: language
          infobox:
          - snippet: snippet
            image:
              width: 1
              url: url
              height: 6
            time: time
            title: title
            url: url
            props:
              wikipedia.page_id: 3
              language_probability: 2.027123023002322
              infobox:
              - merged: true
                header: header
                value: value
              - merged: true
                header: header
                value: value
              sort_normalize_url: sort_normalize_url
              sort_group_id: sort_group_id
              language: language
              wikipedia.subtext: wikipedia.subtext
              source_history:
              - source_history
              - source_history
          - snippet: snippet
            image:
              width: 1
              url: url
              height: 6
            time: time
            title: title
            url: url
            props:
              wikipedia.page_id: 3
              language_probability: 2.027123023002322
              infobox:
              - merged: true
                header: header
                value: value
              - merged: true
                header: header
                value: value
              sort_normalize_url: sort_normalize_url
              sort_group_id: sort_group_id
              language: language
              wikipedia.subtext: wikipedia.subtext
              source_history:
              - source_history
              - source_history
          video:
          - snippet: snippet
            image:
              width: 1
              url: url
              height: 6
            time: time
            title: title
            url: url
            props:
              hires_thumbnail_url: hires_thumbnail_url
              language_probability: 7.061401241503109
              sort_normalize_url: sort_normalize_url
              sort_group_id: sort_group_id
              language: language
              source_history:
              - source_history
              - source_history
          - snippet: snippet
            image:
              width: 1
              url: url
              height: 6
            time: time
            title: title
            url: url
            props:
              hires_thumbnail_url: hires_thumbnail_url
              language_probability: 7.061401241503109
              sort_normalize_url: sort_normalize_url
              sort_group_id: sort_group_id
              language: language
              source_history:
              - source_history
              - source_history
        meta:
          node: node
          trace: trace
          ms: 0
          query:
            workflow: workflow
            terms: terms
            raw: raw
            fields:
            - kind: kind
              negate: true
              name: name
              value: value
            - kind: kind
              negate: true
              name: name
              value: value
          id: id
      properties:
        meta:
          $ref: '#/components/schemas/meta'
        data:
          $ref: '#/components/schemas/superSearch_200_response_data'
      type: object
    enrichSearch_200_response:
      description: An array of search objects that can enrich a search query
      example:
        data:
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          thumbnail:
            width: 1
            url: url
            height: 6
          t: 0
          rank: 6
          published: published
          title: title
          url: url
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          thumbnail:
            width: 1
            url: url
            height: 6
          t: 0
          rank: 6
          published: published
          title: title
          url: url
        meta:
          node: node
          trace: trace
          ms: 0
          query:
            workflow: workflow
            terms: terms
            raw: raw
            fields:
            - kind: kind
              negate: true
              name: name
              value: value
            - kind: kind
              negate: true
              name: name
              value: value
          id: id
      properties:
        meta:
          $ref: '#/components/schemas/meta'
        data:
          items:
            $ref: '#/components/schemas/searchObject'
          type: array
      type: object
    fastGPT_request:
      description: Used to upload the query to FastGPT
      properties:
        query:
          type: string
        cache:
          default: true
          type: boolean
      required:
      - query
      type: object
    fastGPT_200_response_data:
      example:
        output: output
        references:
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          thumbnail:
            width: 1
            url: url
            height: 6
          t: 0
          rank: 6
          published: published
          title: title
          url: url
        - snippet: snippet
          image:
            width: 1
            url: url
            height: 6
          thumbnail:
            width: 1
            url: url
            height: 6
          t: 0
          rank: 6
          published: published
          title: title
          url: url
        tokens: 0
      properties:
        output:
          type: string
        tokens:
          type: integer
        references:
          items:
            $ref: '#/components/schemas/searchObject'
          type: array
      type: object
    fastGPT_200_response:
      description: A response with a description and results references used
      example:
        data:
          output: output
          references:
          - snippet: snippet
            image:
              width: 1
              url: url
              height: 6
            thumbnail:
              width: 1
              url: url
              height: 6
            t: 0
            rank: 6
            published: published
            title: title
            url: url
          - snippet: snippet
            image:
              width: 1
              url: url
              height: 6
            thumbnail:
              width: 1
              url: url
              height: 6
            t: 0
            rank: 6
            published: published
            title: title
            url: url
          tokens: 0
        meta:
          node: node
          trace: trace
          ms: 0
          query:
            workflow: workflow
            terms: terms
            raw: raw
            fields:
            - kind: kind
              negate: true
              name: name
              value: value
            - kind: kind
              negate: true
              name: name
              value: value
          id: id
      properties:
        meta:
          $ref: '#/components/schemas/meta'
        data:
          $ref: '#/components/schemas/fastGPT_200_response_data'
      type: object
    meta_query_fields_inner:
      example:
        kind: kind
        negate: true
        name: name
        value: value
      properties:
        kind:
          type: string
        value:
          type: string
        name:
          type: string
        negate:
          type: boolean
      type: object
    meta_query:
      example:
        workflow: workflow
        terms: terms
        raw: raw
        fields:
        - kind: kind
          negate: true
          name: name
          value: value
        - kind: kind
          negate: true
          name: name
          value: value
      properties:
        raw:
          type: string
        terms:
          type: string
        fields:
          items:
            $ref: '#/components/schemas/meta_query_fields_inner'
          type: array
        workflow:
          type: string
      type: object
    resultSearch_image:
      example:
        width: 1
        url: url
        height: 6
      properties:
        url:
          type: string
        height:
          type: integer
        width:
          type: integer
      required:
      - url
      type: object
    resultSearch_props_thumbnail_image:
      example:
        width: 5
        url: url
        height: 5
      properties:
        url:
          type: string
        height:
          type: integer
        width:
          type: integer
      required:
      - url
    resultSearch_props:
      example:
        language_probability: 2.3021358869347655
        sort_normalize_url: sort_normalize_url
        sort_group_id: sort_group_id
        language: language
        thumbnail_image:
          width: 5
          url: url
          height: 5
        paywalled: true
        source_history:
        - source_history
        - source_history
      properties:
        thumbnail_image:
          $ref: '#/components/schemas/resultSearch_props_thumbnail_image'
        language:
          type: string
        language_probability:
          type: number
        paywalled:
          type: boolean
        sort_normalize_url:
          type: string
        sort_group_id:
          type: string
        source_history:
          items:
            type: string
          type: array
      type: object
    resultVideo_props:
      example:
        hires_thumbnail_url: hires_thumbnail_url
        language_probability: 7.061401241503109
        sort_normalize_url: sort_normalize_url
        sort_group_id: sort_group_id
        language: language
        source_history:
        - source_history
        - source_history
      properties:
        hires_thumbnail_url:
          type: string
        sort_normalize_url:
          type: string
        sort_group_id:
          type: string
        language:
          type: string
        language_probability:
          type: number
        source_history:
          items:
            type: string
          type: array
      type: object
    resultAdjacentQuestion_props:
      example:
        question: question
        language_probability: 9.301444243932576
        language: language
      properties:
        question:
          type: string
        language:
          type: string
        language_probability:
          type: number
      type: object
    resultInfobox_props_infobox_inner:
      example:
        merged: true
        header: header
        value: value
      properties:
        header:
          type: string
        value:
          type: string
        merged:
          type: boolean
      required:
      - header
      - merged
      - value
      type: object
    resultInfobox_props:
      example:
        wikipedia.page_id: 3
        language_probability: 2.027123023002322
        infobox:
        - merged: true
          header: header
          value: value
        - merged: true
          header: header
          value: value
        sort_normalize_url: sort_normalize_url
        sort_group_id: sort_group_id
        language: language
        wikipedia.subtext: wikipedia.subtext
        source_history:
        - source_history
        - source_history
      properties:
        infobox:
          items:
            $ref: '#/components/schemas/resultInfobox_props_infobox_inner'
          type: array
        wikipedia.subtext:
          type: string
        wikipedia.page_id:
          type: integer
        language:
          type: string
        language_probability:
          type: number
        sort_normalize_url:
          type: string
        sort_group_id:
          type: string
        source_history:
          items:
            type: string
          type: array
      type: object
    resultWebArchive_props:
      example:
        language_probability: 4.145608029883936
        web_archive_domain: web_archive_domain
        language: language
      properties:
        web_archive_domain:
          type: string
        language:
          type: string
        language_probability:
          type: number
      type: object
    exampleError_error:
      example:
        msg: msg
        ref: ref
        code: 7
      properties:
        code:
          type: integer
        msg:
          type: string
        ref:
          type: string
      required:
      - code
      - msg
      type: object
    summary_data:
      example:
        output: output
        tokens: 0
      properties:
        output:
          type: string
        tokens:
          type: integer
      required:
      - output
      - tokens
  securitySchemes:
    kagi:
      description: "Kagi Bot token for automated access, Please prefix with `Bot `.\
        \ It should match the format `Bot {value}`"
      in: header
      name: Authorization
      type: apiKey
